<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            border: 1px solid black;
            padding: 10px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/product.do?cmd=list">상품목록</a></li>
        <li><a href="/product.do?cmd=insert-form">상품등록</a></li>
    </ul>
    <h1>상품 상세보기</h1>
    <hr>
    <div>
        <div>id:{{model.id}}</div>
        <div>name: {{model.name}}</div>
        <div>price: {{model.price}}원</div>
        <div>qty: {{model.qty}}개</div>
    </div>
</body>
</html>