<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/product.do?cmd=list">상품목록</a></li>
        <li><a href="/product.do?cmd=insert-form">상품등록</a></li>
    </ul>
    <h1>상품등록</h1>
    <hr>
    <form action = "/product.do?cmd=insert" method="post" enctype="application/x-www-form-urlencoded">
        상품명 : <input type="text" name="name" required /> <br />
        가격 : <input type="text" name="price" required /> <br />
        개수 : <input type="text" name="qty" required /> <br />
        <button type="submit">상품등록</button>
    </form>
</body>
</html>