<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/product.do?cmd=list">상품목록</a></li>
        <li><a href="/product.do?cmd=insert-form">상품등록</a></li>
    </ul>
    <h1>상품 목록</h1>
    <hr>
    <table border = "1">
        <tr>
            <td>id</td>
            <td>name</td>
            <td>액션</td>
        </tr>
        <tr>
            <td>1</td>
            <td><a href="/product.do?cmd=detail&id=1">바나나</a></td>
            <td>
                <form action="#" method="post">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>

        <tr>
            <td>2</td>
            <td><a href="/product.do?cmd=detail&id=2">감자</a></td>
            <td>
                <form action="#" method="post">
                    <button type="submit">삭제</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>